<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
</head>
<body>
  {{#if isUserUpdated}}
    <div class="alert alert-success alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><strong><i class="fas fa-exclamation-circle"></i></strong> {{isUserUpdated}}</p>
    </div>
  {{/if}}

  {{#if daoError}}
    <div class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><strong><i class="fas fa-exclamation-circle"></i></strong> {{daoError}}</p>
    </div>
  {{/if}}

  {{#if errors}}
    <div class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{#each errors}}
          <p><strong><i class="fas fa-exclamation-circle"></i> {{this.param}}</strong> - {{this.msg}}</p>
        {{/each}}
    </div>
  {{/if}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <div class="form-inline">
              <a href="/profile/logout" type="button" class="btn btn-info"><i class="fas fa-sign-out-alt"></i> Logout</a>
              <h1 class="ml-auto">Users Informations</h1>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-3 text-center col-centered">
                <div class="col-sm-12 main-section">
                  <div class="row">
                    <div class="col-sm-12 profile-header"></div>
                  </div>
                  <div class="row user-detail">
                    <div class="col-sm-12">
                      <img src="./imgs/user.png" class="img-thumbnail">
                      <h3>{{user.user_name}}</h3>
                      <div class="text-left">
                        <p>
                          <i class="glyphicon glyphicon-user" aria-hidden="true"></i> {{user.user_email}}
                        </p>
                        <p>
                          <i class="glyphicon glyphicon-lock" aria-hidden="true"></i> **********
                        </p>
                      </div>
                      <hr>
                      <button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#edit-modal">
                          <i class="far fa-edit"></i>
                        <span> Edit</span>
                      </button>
                      <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#delete-modal">
                          <i class="far fa-trash-alt"></i>
                        <span> Delete</span>
                      </button>
                      <hr>
                      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-9 table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#if users}}
                        {{#each users}}
                          <tr>
                            <th>{{this.user_id}}</th>
                            <td>{{this.user_name}}</td>
                            <td>{{this.user_email}}</td>
                            <td>**********</td>
                          </tr>
                          {{/each}}
                        {{/if}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit_modal_label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="edit_modal_label">Edit User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <form action="/profile" autocomplete="on" method="POST">
                    <div class="form-group row">
                      <label for="user-name" class="col-sm-2 col-form-label">Name</label>
                      <div class="col-sm-10">
                        <input name="user_name" type="text" class="form-control" id="user-name" placeholder="Name" value="{{user.user_name}}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="user-email" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                        <input name="user_email" type="email" class="form-control" id="user-email" disabled placeholder="Email" value="{{user.user_email}}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="user-password" class="col-sm-2 col-form-label">Password</label>
                      <div class="col-sm-10">
                        <input name="user_pass" type="password" class="form-control" id="user-password" placeholder="Password">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" name="user_id" value="{{user.user_id}}">Save!</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal_label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="delete_modal_label">Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
  
                  <div class="modal-body">
                    <form action="/profile/delete" autocomplete="on" method="POST">
                      <h5>Are you sure about deleting this user?</h5>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" name="user_id" value="{{user.user_id}}">Delete!</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>

      <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.min.js"></script>
   </body>
</html>
